/* BALISE PRINCIAPLES */

html {
  height: 100%;
}

body {
  padding-top: 10px;
  min-height: 100%;
  margin: 0;
  padding: 0;
  position:relative;
  padding-bottom: 60px;
  font-size: 14px;
}


footer {
	text-align: center;
	background-color: lightgray;
	border-radius: 6px;
  	line-height: 25px;
	position: absolute;
	bottom: 0;
}

.container {
  padding-right: 15px;
  padding-left: 15px;
  margin-right: auto;
  margin-left: auto;
}


#carouseltitle {
	color:white;
}

/* ATTRIBUTS DES BOUTONS */

.btn {
    font-size: 14px;
    text-align: center;
    vertical-align: middle;
}
.btn-primary {
    color: #fff;
    background-color: #337ab7;
    border-color: #2e6da4;
}

.btn-danger {
    color: #fff;
    background-color: #d9534f;
    border-color: #d43f3a;
}
section {
	text-align: justify;
}

.requis {
    color: #c00;
}

.erreur {
    color: #900;
}

.succes {
    color: #090;
}

.info {
    font-style: italic;
    color: #E8A22B;
}
table
{
    border-collapse: collapse; 
}
td
{
    border: 1px solid black;
}
